html, body {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    background-image: url('/projects/todo_list/images/galaxy_background.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.todo_clock_wrap {
    margin-bottom: 20px;
}
.todo_clock {
    font-size: 50px;
    color: #ffffff;
}